.content {

    margin-bottom: 19rem;

    position: relative;

    &__inner {
        display: flex;
        justify-content: space-between;

        margin-bottom: 19rem;
}

    &__product-inner {
        display: flex;
        flex-direction: column;
    }

    &__product-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &__breadcrumb {
        font-size: 1.5rem;
        display: flex;

        margin-bottom: 6.5rem;

        @media (max-width: 48em) {
            display: none;
        }

    }

    &__breadcrumb-item {
        margin-right: 2rem;
        color: #7E838C;        

        & + .active {
            font-weight: 600;
            color: #2B2E34;
        }
    }

    &__breadcrumb-link {
        position: relative;

        &:after {
            content: "/";
            width: 2rem;
            height: 2rem;

            position: absolute;
            right: -3rem;
        }
    }

    &__heading {
        font-size: 4rem;

        margin-bottom: 6.2rem;

        @media (max-width: 48em) {
            margin-bottom: 3rem;
        }
    }

    &__product-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #F4F4F4;

        padding: 2.5rem 4.1rem 2.5rem 4.1rem;

        margin-bottom: 4.5rem;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__product-left {
        display: flex;
    }

    &__product-count{
        font-size: 1.8rem;
        font-weight: 600;
        margin-right: 1.5rem;

        @media (max-width: 48em) {
            font-size: 3.2rem;
        }
    }

    &__product-product {
        font-size: 1.6rem;
        color: #7E838C;

        @media (max-width: 48em) {
            font-size: 3.2rem;
        }
    }

    &__product-right {
        display: flex;
        align-items: center;
    }

    &__product-price {
        font-size: 1.6rem;
        color: #7E838C;

        margin-right: 1.5rem;
    }

    &__product-select {
        border: none;
        outline: none;
        background-color: #F4F4F4;

        font-weight: 600;
    }

    &__nav-mobile {
        display: none;

        @media (max-width: 48em) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 17.2rem;

            background-color: #F4F4F4;
            border-radius: 0.6rem;

            margin-bottom: 7.8rem;
        }
    }


    &__link-mobile {
        display: none;

        @media (max-width: 48em) {
            display: block;
            text-align: center;
        }
    }


    &__filter-mobile {
        font-size: 3.2rem;
    }
}


.mobile {
    display: none;

    @media (max-width: 48em) {
        display: flex;
        margin-bottom: 6.2rem;
    }

    
}