.content {

    margin-bottom: 19rem;

    position: relative;

    &__inner {
        display: flex;
        justify-content: space-between;

        margin-bottom: 17rem;

        @media (max-width: 48em) {
            margin-bottom: 28rem;
        }
}

    &__product-inner {
        display: flex;
        flex-direction: column;
    }

    &__product-wrap {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 48em) {
            margin-bottom: 5rem;
        }
    }

    &__breadcrumb {
        font-size: 1.5rem;
        display: flex;

        margin-bottom: 6.5rem;

        @media (max-width: 48em) {
            display: none;
        }

    }

    &__breadcrumb-item {
        margin-right: 2rem;
        color: #7E838C;        

        & + .active {
            font-weight: 600;
            color: #2B2E34;
        }
    }

    &__breadcrumb-link {
        position: relative;

        &:after {
            content: "/";
            width: 2rem;
            height: 2rem;

            position: absolute;
            right: -3rem;
        }
    }

    &__heading {
        font-size: 4rem;
        font-weight: 600;

        margin-bottom: 7rem;

        @media (max-width: 48em) {
            margin-bottom: 3rem;
            font-size: 5rem;
        }
    }

    &__product-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #F4F4F4;

        padding: 2.5rem 4.1rem 2.5rem 4.1rem;

        margin-bottom: 4.5rem;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__product-left {
        display: flex;
    }

    &__product-left-mobile {
        display: none;

        @media (max-width: 48em) {
            display: flex;
            margin-bottom: 7rem;
            align-items: flex-end;
        }
    }

    &__product-count{
        font-size: 1.8rem;
        font-weight: 600;
        margin-right: 1.5rem;
    }

    &__product-count-mobile{
            font-size: 3.6rem;
            margin-right: 3rem;
    }

    &__product-product {
        font-size: 1.6rem;
        color: #7E838C;        
    }

    &__product-product-mobile {
        font-size: 3.2rem;
        color: #7E838C;
   }

    &__product-sort {
        display: flex;
        align-items: center;
    }

    &__product-price {
        font-size: 1.8rem;
        color: #7E838C;

        margin-right: 1.5rem;
    }

    &__product-select {
        border: none;
        outline: none;
        background-color: #F4F4F4;

        font-weight: 600;
        font-size: 1.6rem;
    }

    &__nav-mobile {
        display: none;

        @media (max-width: 48em) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 17.2rem;

            background-color: #F4F4F4;
            border-radius: 0.6rem;

            margin-bottom: 7.8rem;
        }
    }

    &__link-mobile {
        display: none;

        @media (max-width: 48em) {
            display: block;
            text-align: center;
        }
    }


    &__filter-mobile {
        font-size: 3.2rem;
        font-weight: 600;

        padding-left: 9.4rem;

        position: relative;

        &::before {
            content: "";
            background-image: url(./../images/mobile-filter.png);
            background-repeat: no-repeat;
            background-position:center;

            width: 4.8rem;
            height: 4.8rem;

            position: absolute;
            top: -1rem;
            left: 3rem;
        }
    }


    &__sorter-select {
        font-size: 3.2rem;
        font-weight: 600;
        background-color: #F4F4F4;

        border: none;
        outline: none;
        max-width: 24rem;

        margin-right: 4rem;
    }

    &__sorter-item {
        font-size: 2rem;

        border: none;
        outline: none;
        background-color: #F4F4F4;
    }


    &__link-mobile {
        font-size: 3rem;
        font-weight: 600;
        line-height: 4rem;
        color: #2B2E34;
        border-bottom: 1px solid #2B2E34;

        width: max-content;
        margin: 0 auto;

    }
}

