.filter {
  background-color: #F4F4F4;
  border-radius: 0.3rem;

  width: 35.5rem;
  height: min-content;
  padding: 3rem 3rem 4rem 3rem;

  margin-right: 3.5rem;

  @media (max-width: 48em) {
    display: none;
}

  &__top {
    display: flex;
    justify-content: space-between;

    margin-bottom: 6.7rem;

    @media (max-width: 48em) {
      display: none;
  }
  }

  &__title {
    font-size: 2.2rem;
  }

  &__link {
    font-size: 1.6rem;
    color: #7E838C;

    padding-right: 3rem;

    position: relative;

    &:after {
      content: "";
      background-image: url(./../images/filter-closed.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 1.5rem;
      height: 1.5rem;

      position: absolute;
      top: 0.2rem;
      right: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    width: 30rem;
  }

  &__dropbtn {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 400;
    border: none;
    cursor: pointer;

    margin-bottom: 2.6rem;

    position: relative;

    &::after {
      content: "";
      background-image: url(./../images/arrow-down.png);
      background-repeat: no-repeat;
      width: 2.5rem;
      height: 2.5rem;

      position: absolute;
      top: 0.8rem;
      right: -1.2rem;
    }

  }

  &__dropdown {
    position: relative;
    display: inline-block;
  }

  &__dropdown-content {
    display: none;
    position: absolute;
    background-color: #F4F4F4;

    overflow: auto;
    z-index: 1;
  }

  &__label {
    margin-bottom: 1.6rem;

    font-size: 1.5rem;

    &:hover {
      font-weight: 600;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin-right: 2rem;

    &+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    &+label::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;

      background-color: #ffffff;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    &:checked+label::before {
      border-color: #01070e;
      background-color: #ffffff;
      background-image: url(./../images/select-img.png);
    }
  }
}


// СТИЛИ ДЛЯ ФИЛЬТРА С ЦВЕТОМ 

.filter__color-item {
  &:nth-child(1) {
    .color {
      &+label::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 50%;
        margin-right: 0.5em;
        background-color: #FF6060;
        background-position: center center;
        background-size: 50% 50%;
      }
      &:checked+label::before {
        border-color: #f3f5f7;
        border: 1px;
        background-color: #FF6060;
        background-image: none;
      }
    }
  }

  &:nth-child(2) {
    .color {
      &+label::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 50%;
        margin-right: 0.5em;
        background-color: #FFDC60;
        background-position: center center;
        background-size: 50% 50%;
      }
      &:checked+label::before {
        border-color: #f3f5f7;
        border: 1px;
        background-color: #FFDC60;
        background-image: none;
      }
    }
  }

  &:nth-child(3) {
    .color {
      &+label::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 50%;
        margin-right: 0.5em;
        background-color: #72E191;
        background-position: center center;
        background-size: 50% 50%;
      }
      &:checked+label::before {
        border-color: #f3f5f7;
        border: 1px;
        background-color: #72E191;
        background-image: none;
      }
    }
  }

  &:nth-child(4) {
    .color {
      &+label::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 50%;
        margin-right: 0.5em;
        background-color: #6070FF;
        background-position: center center;
        background-size: 50% 50%;
      }
      &:checked+label::before {
        border-color: #f3f5f7;
        border: 1px;
        background-color: #6070FF;
        background-image: none;
      }
    }
  }

  &:nth-child(5) {
    .color {
      &+label::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 50%;
        margin-right: 0.5em;
        background-color: #A660FF;
        background-position: center center;
        background-size: 50% 50%;
      }
      &:checked+label::before {
        border-color: #f3f5f7;
        border: 1px;
        background-color: #A660FF;
        background-image: none;
      }
    }
  }

  &:nth-child(6) {
    .color {
      &+label::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 50%;
        margin-right: 0.5em;
        background-color: #FF60AC;
        background-position: center center;
        background-size: 50% 50%;
      }
      &:checked+label::before {
        border-color: #f3f5f7;
        border: 1px;
        background-color: #FF60AC;
        background-image: none;
      }
    }
  }

  &:nth-child(7) {
    .color {
      &+label::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 50%;
        margin-right: 0.5em;
        background-color: #EEC3AB;
        background-position: center center;
        background-size: 50% 50%;
      }
      &:checked+label::before {
        border-color: #f3f5f7;
        border: 1px;
        background-color: #EEC3AB;
        background-image: none;
      }
    }
  }

  &:nth-child(8) {
    .color {
      &+label::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 50%;
        margin-right: 0.5em;
        background-color: #FFFFFF;
        background-position: center center;
        background-size: 50% 50%;
      }
      &:checked+label::before {
        border-color: #f3f5f7;
        border: 1px;
        background-color: #FFFFFF;
        background-image: none;
      }
    }
  }

  &:nth-child(9) {
    .color {
      &+label::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 50%;
        margin-right: 0.5em;
        background-color: #292929;
        background-position: center center;
        background-size: 50% 50%;
      }
      &:checked+label::before {
        border-color: #f3f5f7;
        border: 1px;
        background-color: #292929;
        background-image: none;
      }
    }
  }

  &:nth-child(10) {
    .color {
      &+label::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 50%;
        margin-right: 0.5em;
        background-color: #9D9D9D;
        background-position: center center;
        background-size: 50% 50%;
      }
      &:checked+label::before {
        border-color: #f3f5f7;
        border: 1px;
        background-color: #9D9D9D;
        background-image: none;
      }
    }
  }
}

.filter__color-item:hover {

  position: relative;

  &::after {
    content: "";
    background-image: url(./../images/icon-close.png);
    background-repeat: no-repeat;
    background-position: center;

    width: 2rem;
    height: 2rem;


    position: absolute;
    transform: translatetranslate(0.2rem, -0.15rem);
  }
}


.open {
  display: block;
  position: relative;
  margin-bottom: 5rem;
}