.filter {

    width: 35.5rem;

    margin-right: 3.5rem;

    &__top {
        display: flex;
        justify-content: space-between;
        width: 35.5rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__dropbtn {
      background-color: #ffffff;
      width: 100%;
      font-size: 1.8rem;
      font-weight: 400;
      border: none;
      cursor: pointer;

      margin-bottom: 2.6rem;

      position: relative;

        &::after {
          content: "";
          background-image: url(./../images/arrow-down.png);
          background-repeat: no-repeat;
          width: 2.5rem;
          height: 2.5rem;

          position: absolute;
          top: 0;
          right: 0;
    }

      
    }

    &__dropdown {
      position: relative;
      display: inline-block;
    }

    &__dropdown-content {
      display: none;
      position: absolute;
      background-color: #f6f6f6;

      overflow: auto;
      border: 1px solid #ddd;
      z-index: 1;
    }

    &__label {
      margin-bottom: 1.6rem;

      font-size: 1.5rem;

      &:hover {
      font-weight: 600;
      }
    }

    &__checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin-right: 2rem;  
      
      &+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }

      &+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
      
      &:checked + label::before {
        border-color: #01070e;
        background-color: #f1f4f7;
        background-image: url(./../images/select-img.png);
      }
    }


    &__btn-close {
      display: none;
      background-image: url(./../images/icon-close.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 2rem;
      height: 2rem;

      margin-left: 2rem;

      &:hover {
        display: inline-block;
      }
    }
}



.color {
  &+label::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 50%;
    margin-right: 0.5em;
    background-color: #FF6060;
    background-position: center center;
    background-size: 50% 50%;
  }

  
  &:checked+label::before {
    border-color: #f3f5f7;
    border: 1px;
    background-color: #FF6060;
    background-image: none;
  }
}


  
  



.open {
  display: block;
  position: relative;
  margin-bottom: 5rem;

}