.header {
    
    background-color: #ffffff;

    &__inner {
        padding-top: 2rem;
    }

    &__mobile-list {
        display: none;

        @media (max-width: 48em) {
            display: block;
            display: flex;
        }
    }

    &__mobile-item:not(:last-child) {
        margin-right: 3.6rem;
    }

    &__mobile-img {
        @media (max-width: 48em) {
        width: 4rem;
        }

    }


    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 5.5rem;
    }

    &__btn {
        @media (max-width: 48em) {
            width: 5rem;
        }
    }

    &__logo-img {
        @media (max-width: 48em) {
            width: 37.2rem;
        }
    }

    &__search {
        width: 85.1rem;
        height: 5.4rem;

        font-size: 1.5rem;
        line-height: 1.9rem;
        color: #73737B;

        padding-left: 6.6rem;

        background-color: #F6F6F6;
        border: none;
        outline: none;

        background-image: url(./../images/loup-icon.png);
        background-repeat: no-repeat;
        background-position-x: 1%;
        background-position-y: 50%;

        @media (max-width: 48em) {
            height: 10.8rem;
            width: 100%;

            background-size: 3rem;
            background-position-x: 4%;

            font-size: 3rem;
            padding-left: 11.6rem;
        }


        &::placeholder {
            font-size: 1.5rem;
            color: #73737B;

            @media (max-width: 48em) {
                font-size: 3rem;
            }
        }

        @media (max-width: 48em) {
            position: absolute;
            left: 0;
            right: 0;
            transform: translate(0px, 40%);
        }
    }

    &__personal-list {
        display: flex;
        @media (max-width: 48em) {
            display: none;
        }
    }

    &__personal-item:not(:last-child) {
        margin-right: 3.6rem;
    }


    &__down {
        padding-bottom: 3.2rem;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 1.8rem;
        font-weight: 400;
    }

    &__item {
        position: relative;
    }

    &__item:nth-child(1) {
        margin-left: 3.8rem;


        &::before {
            content: "";
            background-image: url(./../images/location-icon.png);
            background-repeat: no-repeat;
            width: 4rem;
            height: 4rem;

            position: absolute;
            top: -0.3rem;
            left: -3.5rem;
        }
    }

    &__item:nth-child(2) {
        &::before {
            content: "";
            background-image: url(./../images/phone-icon.png);
            background-repeat: no-repeat;
            width: 4rem;
            height: 4rem;

            position: absolute;
            top: -0.3rem;
            left: -3.5rem;
        }
    }


    &__item:nth-child(3) {
        &::before {
            content: "";
            background-image: url(./../images/mail-icon.png);
            background-repeat: no-repeat;
            width: 4rem;
            height: 4rem;

            position: absolute;
            top: -0.6rem;
            left: -3.8rem;
        }
    }

    &__item:nth-child(4) {
        &::before {
            content: "";
            background-image: url(./../images/pencil-icon.png);
            background-repeat: no-repeat;
            width: 4rem;
            height: 4rem;

            position: absolute;
            top: -0.3rem;
            left: -3.5rem;
        }
    }

    &__item:nth-child(5) {
        &::before {
            content: "";
            background-image: url(./../images/headset-icon.png);
            background-repeat: no-repeat;
            width: 4rem;
            height: 4rem;

            position: absolute;
            top: -0.3rem;
            left: -3.5rem;
        }
    }
}