.header {

    background-color: #ffffff;

    &__inner {
        padding-top: 2rem;

        @media (max-width: 48em) {
            padding-top: 3rem;
        }
    }

    &__mobile-list {
        display: none;

        @media (max-width: 48em) {
            display: flex;
        }
    }

    &__mobile-item:not(:last-child) {
        margin-right: 3.6rem;
    }


    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 5rem;

        @media (max-width: 48em) {
            height: 14.2rem;
            padding-bottom: 6rem;
        }
    }

    &__btn-img {
        @media (max-width: 48em) {
            display: none;
        }
    }

    &__btn-burger {
        display: none;

        @media (max-width: 48em) {
            width: 5rem;
            height: 5rem;

            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            z-index: 9999;
        }

        &.open {
            position: absolute;
            right: 0;
            transform: translate(-100%, 10%);

            & span {

                background-color: transparent;

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__btn-burger span {

        width: 5rem;
        height: 0.2rem;

        background-color: #2B2E34;

        transition: 0.3s;

        &::after {
            content: "";
            width: 5rem;
            height: 0.2rem;
            background-color: #2B2E34;
            position: absolute;
            transform: translateY(-2rem);
        }

        &::before {
            content: "";
            width: 5rem;
            height: 0.2rem;
            background-color: #2B2E34;
            position: absolute;
            transform: translateY(2rem);
        }
    }

    &__logo-img-mobile {
        display: none;

        @media (max-width: 48em) {
            display: block;
            width: 37.2rem;
        }
    }

    &__logo-img {
        @media (max-width: 48em) {
            display: none;
        }
    }

    &__search {
        width: 85.1rem;
        height: 5.4rem;

        font-size: 1.5rem;
        line-height: 1.9rem;
        color: #73737B;

        padding-left: 6.6rem;

        background-color: #F6F6F6;
        border: none;
        outline: none;

        background-image: url(./../images/loup-icon.png);
        background-repeat: no-repeat;
        background-position-x: 1%;
        background-position-y: 50%;

        @media (max-width: 48em) {
            height: 10.8rem;
            width: 100%;

            background-size: 3rem;
            background-position-x: 4%;

            font-size: 3rem;
            padding-left: 11.6rem;
        }


        &::placeholder {
            font-size: 1.5rem;
            color: #73737B;

            @media (max-width: 48em) {
                font-size: 3rem;
            }
        }

        @media (max-width: 48em) {
            position: absolute;
            left: 0;
            right: 0;
            transform: translate(0px, 65%);
        }
    }

    &__personal-list {
        display: flex;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__personal-item:not(:last-child) {
        margin-right: 3.6rem;
    }


    &__down {
        padding-bottom: 3.2rem;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 1.8rem;
        font-weight: 400;
    }

    &__item {
        position: relative;
    }

    &__item:nth-child(1) {
        margin-left: 3.8rem;


        &::before {
            content: "";
            background-image: url(./../images/location-icon.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 1.7rem;
            height: 2.4rem;

            position: absolute;
            top: -0.3rem;
            left: -3.5rem;
        }
    }

    &__item:nth-child(2) {
        &::before {
            content: "";
            background-image: url(./../images/phone-icon.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 2.0rem;
            height: 2.1rem;

            position: absolute;
            top: -0.3rem;
            left: -3.5rem;
        }
    }


    &__item:nth-child(3) {
        &::before {
            content: "";
            background-image: url(./../images/mail-icon.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 2.1rem;
            height: 1.6rem;

            position: absolute;
            top: 0rem;
            left: -3.8rem;
        }
    }

    &__item:nth-child(4) {
        &::before {
            content: "";
            background-image: url(./../images/pencil-icon.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 1.7rem;
            height: 1.7rem;

            position: absolute;
            top: -0.3rem;
            left: -3.5rem;
        }
    }

    &__item:nth-child(5) {
        &::before {
            content: "";
            background-image: url(./../images/headset-icon.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 2.2rem;
            height: 2.2rem;

            position: absolute;
            top: -0.3rem;
            left: -3.5rem;
        }
    }

    // мобильное меню

    &__menu-mobile {
        display: none;

        &.open {
            display: block;
            position: absolute;
            z-index: 9;

            background-color: #FFFFFF;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
        }
    }
}